@import "bootstrap.css";
@import "tools.css";
@import "form.css";
@import "products.css";
@import "bootstrap_over.css";
@import "paypal.css";
@import "card.css";
@import "interactivity.css";


.material-icons{
	vertical-align: middle;
	font-size: 1em;
}

.main-container {
	max-width: 900px;
}


